 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

            * {
              margin: 0px;
              padding: 0px;
              box-sizing: border-box;
            }

            :root {
              --color-text: #616161;
              --color-text-btn: #ffffff;
              --card1-gradient-color1: #f12711;
              --card1-gradient-color2: #f5af19;
              --card2-gradient-color1: #7F00FF;
              --card2-gradient-color2: #E100FF;
              --card3-gradient-color1: #3f2b96;
              --card3-gradient-color2: #a8c0ff;
              --card4-gradient-color1: #11998e;
              --card4-gradient-color2: #38ef7d;
            }

            .ig {


              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              gap: 30px;
            }

            .card1-wrap {
              width: 320px;
              background: #fff;
              border-radius: 20px;
              border: 5px solid #fff;
              overflow: hidden;
              color: var(--color-text);
              box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
              cursor: pointer;
              transition: all .2s ease-in-out;
            }

            .card1-wrap:hover {
              transform: scale(1.1);
            }

            .card1-header {
              height: 200px;
              width: 100%;
              background: red;
              border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
              display: grid;
              place-items: center;

            }

            .card1-header i {
              color: #fff;
              font-size: 72px;
            }

            .card1-content {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 70%;
              margin: 0 auto;
            }

            .card1-title {
              text-align: center;
              text-transform: uppercase;
              font-size: 16px;
              margin-top: 10px;
              margin-bottom: 20px;

            }

            .card1-text {
              text-align: center;
              font-size: 12px;
              margin-bottom: 20px;
            }

            .card1-btn {
              border: none;
              border-radius: 100px;
              padding: 5px 30px;
              color: #fff;
              margin-bottom: 15px;
              text-transform: uppercase;
            }

            .card1-header.one {
              background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
            }

            .card1-header.two {
              background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
            }

            .card1-header.three {
              background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
            }

            .card1-header.four {
              background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
            }

            .card1-btn.one {
              background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
            }

            .card1-btn.two {
              background: linear-gradient(to left, var(--card2-gradient-color1), var(--card2-gradient-color2));
            }

            .card1-btn.three {
              background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
            }

            .card1-btn.four {
              background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
            }
